# TP Plans d'exécution 
Savoir traduire un plan d'exécution en un programme

## Préparation

Définir des tables Joueur, Gain, Rencontre

In [ ]:
# !pip install sortedcontainers
from sortedcontainers import SortedList

import os
from urllib import request

# URL du dossier PUBLIC_DATASET contenant des fichiers de données pour les TP
PUBLIC_DATASET_URL = "https://nuage.lip6.fr/s/H3bpyRGgnCq2NR4" 
PUBLIC_DATASET=PUBLIC_DATASET_URL + "/download?path="
print("URL pour les datasets ", PUBLIC_DATASET_URL)

tennis = PUBLIC_DATASET + "/tennis/"
temp = "/temp/"
os.makedirs(temp, exist_ok=True)

for file in ["Joueur_data.txt", "Gain_data.txt", "Rencontre_data.txt"]:
  if(not(os.path.isfile(temp + file))) :
    request.urlretrieve(tennis + file, temp + file) 

os.listdir(temp)

URL pour les datasets  https://nuage.lip6.fr/s/H3bpyRGgnCq2NR4

['Joueur_data.txt', 'Gain_data.txt', 'Rencontre_data.txt']

In [ ]:
import csv
import collections

def readTable(csv_file) :
  reader =  csv.reader(open(csv_file),  delimiter='\t')
  attributes = next(reader, None)
  print(csv_file, "a pour schéma :", attributes)
  tuple_type = collections.namedtuple("Tuple", attributes)
  return [tuple_type(*line) for line in reader]

Joueur = readTable(temp + "Joueur_data.txt")
Gain = readTable(temp + "Gain_data.txt")
Rencontre = readTable(temp + "Rencontre_data.txt")

/temp/Joueur_data.txt a pour schéma : ['NUJOUEUR', 'NOM', 'PRENOM', 'ANNAISS', 'NATIONALITE']
/temp/Gain_data.txt a pour schéma : ['NUJOUEUR', 'LIEUTOURNOI', 'ANNEE', 'PRIME', 'NOMSPONSOR']
/temp/Rencontre_data.txt a pour schéma : ['NUGAGNANT', 'NUPERDANT', 'LIEUTOURNOI', 'ANNEE']

#### Table Joueur

In [ ]:
for t in Joueur:
  print(t)

Tuple(NUJOUEUR='1', NOM='MARTINEZ', PRENOM='Conchita', ANNAISS='1972', NATIONALITE='Espagne')
Tuple(NUJOUEUR='2', NOM='NAVRATILOVA', PRENOM='Martina', ANNAISS='1957', NATIONALITE='Etats-Unis')
Tuple(NUJOUEUR='3', NOM='GRAF', PRENOM='Steffi', ANNAISS='1969', NATIONALITE='Allemagne')
Tuple(NUJOUEUR='4', NOM='HALARD', PRENOM='Julie', ANNAISS='1970', NATIONALITE='France')
Tuple(NUJOUEUR='5', NOM='PIERCE', PRENOM='Mary', ANNAISS='1975', NATIONALITE='France')
Tuple(NUJOUEUR='6', NOM='EDBERG', PRENOM='Stephan', ANNAISS='1966', NATIONALITE='Suede')
Tuple(NUJOUEUR='7', NOM='LARSSON', PRENOM='Magnus', ANNAISS='1970', NATIONALITE='Suede')
Tuple(NUJOUEUR='8', NOM='LECONTE', PRENOM='Henri', ANNAISS='1963', NATIONALITE='France')
Tuple(NUJOUEUR='9', NOM='FORGET', PRENOM='Guy', ANNAISS='1965', NATIONALITE='France')
Tuple(NUJOUEUR='10', NOM='FLEURIAN', PRENOM='Jean-Philippe', ANNAISS='1965', NATIONALITE='France')
Tuple(NUJOUEUR='11', NOM='WILANDER', PRENOM='Mats', ANNAISS='1964', NATIONALITE='Suede')
Tuple(NUJOUEUR='12', NOM='CONNORS', PRENOM='Jimmy', ANNAISS='1952', NATIONALITE='Etats-Unis')
Tuple(NUJOUEUR='13', NOM='McENROE', PRENOM='John', ANNAISS='1959', NATIONALITE='Etats-Unis')
Tuple(NUJOUEUR='14', NOM='SAMPRAS', PRENOM='Pete', ANNAISS='1972', NATIONALITE='Etats-Unis')

#### Table Gain

In [ ]:
for t in Gain:
  print(t)

Tuple(NUJOUEUR='14', LIEUTOURNOI='Roland Garros', ANNEE='1992', PRIME='200000', NOMSPONSOR='Peugeot')
Tuple(NUJOUEUR='14', LIEUTOURNOI='Roland Garros', ANNEE='1994', PRIME='1800000', NOMSPONSOR='Reebok')
Tuple(NUJOUEUR='14', LIEUTOURNOI='Wimbledon', ANNEE='1992', PRIME='700000', NOMSPONSOR='Peugeot')
Tuple(NUJOUEUR='14', LIEUTOURNOI='Wimbledon', ANNEE='1993', PRIME='1400000', NOMSPONSOR='Peugeot')
Tuple(NUJOUEUR='13', LIEUTOURNOI='Roland Garros', ANNEE='1990', PRIME='1100000', NOMSPONSOR='Kennex')
Tuple(NUJOUEUR='13', LIEUTOURNOI='Roland Garros', ANNEE='1992', PRIME='1500000', NOMSPONSOR='Kennex')
Tuple(NUJOUEUR='13', LIEUTOURNOI='Wimbledon', ANNEE='1989', PRIME='350000', NOMSPONSOR='Donnay')
Tuple(NUJOUEUR='13', LIEUTOURNOI='Wimbledon', ANNEE='1992', PRIME='400000', NOMSPONSOR='Kennex')
Tuple(NUJOUEUR='12', LIEUTOURNOI='Roland Garros', ANNEE='1990', PRIME='400000', NOMSPONSOR='Dunlop')
Tuple(NUJOUEUR='12', LIEUTOURNOI='Roland Garros', ANNEE='1992', PRIME='200000', NOMSPONSOR='Dunlop')
Tuple(NUJOUEUR='12', LIEUTOURNOI='Wimbledon', ANNEE='1989', PRIME='600000', NOMSPONSOR='Dunlop')
Tuple(NUJOUEUR='12', LIEUTOURNOI='Flushing Meadow', ANNEE='1989', PRIME='1600000', NOMSPONSOR='Dunlop')
Tuple(NUJOUEUR='12', LIEUTOURNOI='Flushing Meadow', ANNEE='1991', PRIME='1800000', NOMSPONSOR='Lacoste')
Tuple(NUJOUEUR='11', LIEUTOURNOI='Roland Garros', ANNEE='1990', PRIME='700000', NOMSPONSOR='Kennex')
Tuple(NUJOUEUR='11', LIEUTOURNOI='Roland Garros', ANNEE='1992', PRIME='500000', NOMSPONSOR='Kennex')
Tuple(NUJOUEUR='11', LIEUTOURNOI='Wimbledon', ANNEE='1989', PRIME='1000000', NOMSPONSOR='Dunlop')
Tuple(NUJOUEUR='10', LIEUTOURNOI='Roland Garros', ANNEE='1994', PRIME='600000', NOMSPONSOR='Peugeot')
Tuple(NUJOUEUR='10', LIEUTOURNOI='Wimbledon', ANNEE='1993', PRIME='500000', NOMSPONSOR='Peugeot')
Tuple(NUJOUEUR='8', LIEUTOURNOI='Roland Garros', ANNEE='1992', PRIME='500000', NOMSPONSOR='Lacoste')
Tuple(NUJOUEUR='8', LIEUTOURNOI='Roland Garros', ANNEE='1994', PRIME='1000000', NOMSPONSOR='Reebok')
Tuple(NUJOUEUR='8', LIEUTOURNOI='Wimbledon', ANNEE='1989', PRIME='350000', NOMSPONSOR='Peugeot')
Tuple(NUJOUEUR='7', LIEUTOURNOI='Roland Garros', ANNEE='1992', PRIME='200000', NOMSPONSOR='Donnay')
Tuple(NUJOUEUR='7', LIEUTOURNOI='Wimbledon', ANNEE='1993', PRIME='800000', NOMSPONSOR='Reebok')
Tuple(NUJOUEUR='7', LIEUTOURNOI='Flushing Meadow', ANNEE='1991', PRIME='1000000', NOMSPONSOR='Donnay')
Tuple(NUJOUEUR='6', LIEUTOURNOI='Roland Garros', ANNEE='1992', PRIME='900000', NOMSPONSOR='Dunlop')
Tuple(NUJOUEUR='6', LIEUTOURNOI='Wimbledon', ANNEE='1992', PRIME='1200000', NOMSPONSOR='Dunlop')
Tuple(NUJOUEUR='5', LIEUTOURNOI='Wimbledon', ANNEE='1992', PRIME='300000', NOMSPONSOR='Dunlop')
Tuple(NUJOUEUR='5', LIEUTOURNOI='Wimbledon', ANNEE='1993', PRIME='350000', NOMSPONSOR='Reebok')
Tuple(NUJOUEUR='4', LIEUTOURNOI='Roland Garros', ANNEE='1994', PRIME='400000', NOMSPONSOR='Lacoste')
Tuple(NUJOUEUR='4', LIEUTOURNOI='Wimbledon', ANNEE='1992', PRIME='300000', NOMSPONSOR='Lacoste')
Tuple(NUJOUEUR='4', LIEUTOURNOI='Wimbledon', ANNEE='1993', PRIME='350000', NOMSPONSOR='Lacoste')
Tuple(NUJOUEUR='9', LIEUTOURNOI='Roland Garros', ANNEE='1990', PRIME='400000', NOMSPONSOR='Peugeot')
Tuple(NUJOUEUR='9', LIEUTOURNOI='Roland Garros', ANNEE='1992', PRIME='200000', NOMSPONSOR='Peugeot')
Tuple(NUJOUEUR='9', LIEUTOURNOI='Roland Garros', ANNEE='1994', PRIME='600000', NOMSPONSOR='Reebok')
Tuple(NUJOUEUR='9', LIEUTOURNOI='Wimbledon', ANNEE='1992', PRIME='400000', NOMSPONSOR='Peugeot')
Tuple(NUJOUEUR='9', LIEUTOURNOI='Wimbledon', ANNEE='1993', PRIME='500000', NOMSPONSOR='Reebok')
Tuple(NUJOUEUR='9', LIEUTOURNOI='Flushing Meadow', ANNEE='1989', PRIME='900000', NOMSPONSOR='Lacoste')
Tuple(NUJOUEUR='3', LIEUTOURNOI='Roland Garros', ANNEE='1990', PRIME='500000', NOMSPONSOR='Donnay')
Tuple(NUJOUEUR='3', LIEUTOURNOI='Roland Garros', ANNEE='1992', PRIME='550000', NOMSPONSOR='Donnay')
Tuple(NUJOUEUR='3', LIEUTOURNOI='Roland Garros', ANNEE='1994', PRIME='400000', NOMSPONSOR='Reebok')
Tuple(NUJOUEUR='3', LIEUTOURNOI='Wimbledon', ANNEE='1989', PRIME='750000', NOMSPONSOR='Donnay')
Tuple(NUJOUEUR='3', LIEUTOURNOI='Wimbledon', ANNEE='1992', PRIME='850000', NOMSPONSOR='Donnay')
Tuple(NUJOUEUR='3', LIEUTOURNOI='Flushing Meadow', ANNEE='1989', PRIME='700000', NOMSPONSOR='Donnay')
Tuple(NUJOUEUR='2', LIEUTOURNOI='Roland Garros', ANNEE='1990', PRIME='800000', NOMSPONSOR='Vittel')
Tuple(NUJOUEUR='2', LIEUTOURNOI='Roland Garros', ANNEE='1992', PRIME='900000', NOMSPONSOR='Vittel')
Tuple(NUJOUEUR='2', LIEUTOURNOI='Roland Garros', ANNEE='1994', PRIME='1200000', NOMSPONSOR='Donnay')
Tuple(NUJOUEUR='2', LIEUTOURNOI='Wimbledon', ANNEE='1989', PRIME='400000', NOMSPONSOR='Vittel')
Tuple(NUJOUEUR='2', LIEUTOURNOI='Wimbledon', ANNEE='1992', PRIME='500000', NOMSPONSOR='Vittel')
Tuple(NUJOUEUR='2', LIEUTOURNOI='Wimbledon', ANNEE='1993', PRIME='600000', NOMSPONSOR='Donnay')
Tuple(NUJOUEUR='2', LIEUTOURNOI='Flushing Meadow', ANNEE='1989', PRIME='1000000', NOMSPONSOR='Vittel')
Tuple(NUJOUEUR='1', LIEUTOURNOI='Wimbledon', ANNEE='1993', PRIME='900000', NOMSPONSOR='Nike')
Tuple(NUJOUEUR='1', LIEUTOURNOI='Roland Garros', ANNEE='1994', PRIME='800000', NOMSPONSOR='Nike')

#### Table Rencontre

In [ ]:
for t in Rencontre:
  print(t)

Tuple(NUGAGNANT='13', NUPERDANT='9', LIEUTOURNOI='Roland Garros', ANNEE='1990')
Tuple(NUGAGNANT='11', NUPERDANT='12', LIEUTOURNOI='Roland Garros', ANNEE='1990')
Tuple(NUGAGNANT='13', NUPERDANT='11', LIEUTOURNOI='Roland Garros', ANNEE='1990')
Tuple(NUGAGNANT='2', NUPERDANT='3', LIEUTOURNOI='Roland Garros', ANNEE='1990')
Tuple(NUGAGNANT='13', NUPERDANT='12', LIEUTOURNOI='Roland Garros', ANNEE='1992')
Tuple(NUGAGNANT='6', NUPERDANT='14', LIEUTOURNOI='Roland Garros', ANNEE='1992')
Tuple(NUGAGNANT='11', NUPERDANT='9', LIEUTOURNOI='Roland Garros', ANNEE='1992')
Tuple(NUGAGNANT='8', NUPERDANT='7', LIEUTOURNOI='Roland Garros', ANNEE='1992')
Tuple(NUGAGNANT='13', NUPERDANT='8', LIEUTOURNOI='Roland Garros', ANNEE='1992')
Tuple(NUGAGNANT='6', NUPERDANT='11', LIEUTOURNOI='Roland Garros', ANNEE='1992')
Tuple(NUGAGNANT='13', NUPERDANT='6', LIEUTOURNOI='Roland Garros', ANNEE='1992')
Tuple(NUGAGNANT='2', NUPERDANT='3', LIEUTOURNOI='Roland Garros', ANNEE='1992')
Tuple(NUGAGNANT='14', NUPERDANT='10', LIEUTOURNOI='Roland Garros', ANNEE='1994')
Tuple(NUGAGNANT='8', NUPERDANT='9', LIEUTOURNOI='Roland Garros', ANNEE='1994')
Tuple(NUGAGNANT='14', NUPERDANT='8', LIEUTOURNOI='Roland Garros', ANNEE='1994')
Tuple(NUGAGNANT='2', NUPERDANT='4', LIEUTOURNOI='Roland Garros', ANNEE='1994')
Tuple(NUGAGNANT='1', NUPERDANT='3', LIEUTOURNOI='Roland Garros', ANNEE='1994')
Tuple(NUGAGNANT='2', NUPERDANT='1', LIEUTOURNOI='Roland Garros', ANNEE='1994')
Tuple(NUGAGNANT='11', NUPERDANT='8', LIEUTOURNOI='Wimbledon', ANNEE='1989')
Tuple(NUGAGNANT='12', NUPERDANT='13', LIEUTOURNOI='Wimbledon', ANNEE='1989')
Tuple(NUGAGNANT='11', NUPERDANT='12', LIEUTOURNOI='Wimbledon', ANNEE='1989')
Tuple(NUGAGNANT='3', NUPERDANT='2', LIEUTOURNOI='Wimbledon', ANNEE='1989')
Tuple(NUGAGNANT='14', NUPERDANT='13', LIEUTOURNOI='Wimbledon', ANNEE='1992')
Tuple(NUGAGNANT='6', NUPERDANT='9', LIEUTOURNOI='Wimbledon', ANNEE='1992')
Tuple(NUGAGNANT='6', NUPERDANT='14', LIEUTOURNOI='Wimbledon', ANNEE='1992')
Tuple(NUGAGNANT='3', NUPERDANT='5', LIEUTOURNOI='Wimbledon', ANNEE='1992')
Tuple(NUGAGNANT='2', NUPERDANT='4', LIEUTOURNOI='Wimbledon', ANNEE='1992')
Tuple(NUGAGNANT='3', NUPERDANT='2', LIEUTOURNOI='Wimbledon', ANNEE='1992')
Tuple(NUGAGNANT='14', NUPERDANT='10', LIEUTOURNOI='Wimbledon', ANNEE='1993')
Tuple(NUGAGNANT='7', NUPERDANT='9', LIEUTOURNOI='Wimbledon', ANNEE='1993')
Tuple(NUGAGNANT='14', NUPERDANT='7', LIEUTOURNOI='Wimbledon', ANNEE='1993')
Tuple(NUGAGNANT='1', NUPERDANT='5', LIEUTOURNOI='Wimbledon', ANNEE='1993')
Tuple(NUGAGNANT='2', NUPERDANT='4', LIEUTOURNOI='Wimbledon', ANNEE='1993')
Tuple(NUGAGNANT='1', NUPERDANT='2', LIEUTOURNOI='Wimbledon', ANNEE='1993')
Tuple(NUGAGNANT='12', NUPERDANT='9', LIEUTOURNOI='Flushing Meadow', ANNEE='1989')
Tuple(NUGAGNANT='2', NUPERDANT='3', LIEUTOURNOI='Flushing Meadow', ANNEE='1989')
Tuple(NUGAGNANT='12', NUPERDANT='7', LIEUTOURNOI='Flushing Meadow', ANNEE='1991')

## Requetes

#### Requête de jointure par NL

SELECT j.nom, g.lieutournoi 

FROM Joueur j, Gain g

WHERE j.nujoueur = g.nujoueur AND j.nationalite = ‘France’ ;

In [ ]:
# schéma du résultat
Tuple = collections.namedtuple("Tuple", "NOM, LIEUTOURNOI")

for j in Joueur:
    if(j.NATIONALITE == 'France'):
      for g in Gain: 
          if(j.NUJOUEUR == g.NUJOUEUR):
            print(Tuple(j.NOM, g.LIEUTOURNOI))

Tuple(NOM='HALARD', LIEUTOURNOI='Roland Garros')
Tuple(NOM='HALARD', LIEUTOURNOI='Wimbledon')
Tuple(NOM='HALARD', LIEUTOURNOI='Wimbledon')
Tuple(NOM='PIERCE', LIEUTOURNOI='Wimbledon')
Tuple(NOM='PIERCE', LIEUTOURNOI='Wimbledon')
Tuple(NOM='LECONTE', LIEUTOURNOI='Roland Garros')
Tuple(NOM='LECONTE', LIEUTOURNOI='Roland Garros')
Tuple(NOM='LECONTE', LIEUTOURNOI='Wimbledon')
Tuple(NOM='FORGET', LIEUTOURNOI='Roland Garros')
Tuple(NOM='FORGET', LIEUTOURNOI='Roland Garros')
Tuple(NOM='FORGET', LIEUTOURNOI='Roland Garros')
Tuple(NOM='FORGET', LIEUTOURNOI='Wimbledon')
Tuple(NOM='FORGET', LIEUTOURNOI='Wimbledon')
Tuple(NOM='FORGET', LIEUTOURNOI='Flushing Meadow')
Tuple(NOM='FLEURIAN', LIEUTOURNOI='Roland Garros')
Tuple(NOM='FLEURIAN', LIEUTOURNOI='Wimbledon')

#### Requête 1.a)

In [ ]:
# schema du résultat de la requête
# resultat = []
Tuple = collections.namedtuple("Tuple", "NUJOUEUR, LIEUTOURNOI, NOM, ANNAISS")

for g in Gain:
    for j in Joueur:
        if(g.NUJOUEUR == j.NUJOUEUR):
          # resultat.append(Tuple(g.NUJOUEUR, g.LIEUTOURNOI, j.NOM, j.ANNAISS))
          print(Tuple(g.NUJOUEUR, g.LIEUTOURNOI, j.NOM, j.ANNAISS))

Tuple(NUJOUEUR='14', LIEUTOURNOI='Roland Garros', NOM='SAMPRAS', ANNAISS='1972')
Tuple(NUJOUEUR='14', LIEUTOURNOI='Roland Garros', NOM='SAMPRAS', ANNAISS='1972')
Tuple(NUJOUEUR='14', LIEUTOURNOI='Wimbledon', NOM='SAMPRAS', ANNAISS='1972')
Tuple(NUJOUEUR='14', LIEUTOURNOI='Wimbledon', NOM='SAMPRAS', ANNAISS='1972')
Tuple(NUJOUEUR='13', LIEUTOURNOI='Roland Garros', NOM='McENROE', ANNAISS='1959')
Tuple(NUJOUEUR='13', LIEUTOURNOI='Roland Garros', NOM='McENROE', ANNAISS='1959')
Tuple(NUJOUEUR='13', LIEUTOURNOI='Wimbledon', NOM='McENROE', ANNAISS='1959')
Tuple(NUJOUEUR='13', LIEUTOURNOI='Wimbledon', NOM='McENROE', ANNAISS='1959')
Tuple(NUJOUEUR='12', LIEUTOURNOI='Roland Garros', NOM='CONNORS', ANNAISS='1952')
Tuple(NUJOUEUR='12', LIEUTOURNOI='Roland Garros', NOM='CONNORS', ANNAISS='1952')
Tuple(NUJOUEUR='12', LIEUTOURNOI='Wimbledon', NOM='CONNORS', ANNAISS='1952')
Tuple(NUJOUEUR='12', LIEUTOURNOI='Flushing Meadow', NOM='CONNORS', ANNAISS='1952')
Tuple(NUJOUEUR='12', LIEUTOURNOI='Flushing Meadow', NOM='CONNORS', ANNAISS='1952')
Tuple(NUJOUEUR='11', LIEUTOURNOI='Roland Garros', NOM='WILANDER', ANNAISS='1964')
Tuple(NUJOUEUR='11', LIEUTOURNOI='Roland Garros', NOM='WILANDER', ANNAISS='1964')
Tuple(NUJOUEUR='11', LIEUTOURNOI='Wimbledon', NOM='WILANDER', ANNAISS='1964')
Tuple(NUJOUEUR='10', LIEUTOURNOI='Roland Garros', NOM='FLEURIAN', ANNAISS='1965')
Tuple(NUJOUEUR='10', LIEUTOURNOI='Wimbledon', NOM='FLEURIAN', ANNAISS='1965')
Tuple(NUJOUEUR='8', LIEUTOURNOI='Roland Garros', NOM='LECONTE', ANNAISS='1963')
Tuple(NUJOUEUR='8', LIEUTOURNOI='Roland Garros', NOM='LECONTE', ANNAISS='1963')
Tuple(NUJOUEUR='8', LIEUTOURNOI='Wimbledon', NOM='LECONTE', ANNAISS='1963')
Tuple(NUJOUEUR='7', LIEUTOURNOI='Roland Garros', NOM='LARSSON', ANNAISS='1970')
Tuple(NUJOUEUR='7', LIEUTOURNOI='Wimbledon', NOM='LARSSON', ANNAISS='1970')
Tuple(NUJOUEUR='7', LIEUTOURNOI='Flushing Meadow', NOM='LARSSON', ANNAISS='1970')
Tuple(NUJOUEUR='6', LIEUTOURNOI='Roland Garros', NOM='EDBERG', ANNAISS='1966')
Tuple(NUJOUEUR='6', LIEUTOURNOI='Wimbledon', NOM='EDBERG', ANNAISS='1966')
Tuple(NUJOUEUR='5', LIEUTOURNOI='Wimbledon', NOM='PIERCE', ANNAISS='1975')
Tuple(NUJOUEUR='5', LIEUTOURNOI='Wimbledon', NOM='PIERCE', ANNAISS='1975')
Tuple(NUJOUEUR='4', LIEUTOURNOI='Roland Garros', NOM='HALARD', ANNAISS='1970')
Tuple(NUJOUEUR='4', LIEUTOURNOI='Wimbledon', NOM='HALARD', ANNAISS='1970')
Tuple(NUJOUEUR='4', LIEUTOURNOI='Wimbledon', NOM='HALARD', ANNAISS='1970')
Tuple(NUJOUEUR='9', LIEUTOURNOI='Roland Garros', NOM='FORGET', ANNAISS='1965')
Tuple(NUJOUEUR='9', LIEUTOURNOI='Roland Garros', NOM='FORGET', ANNAISS='1965')
Tuple(NUJOUEUR='9', LIEUTOURNOI='Roland Garros', NOM='FORGET', ANNAISS='1965')
Tuple(NUJOUEUR='9', LIEUTOURNOI='Wimbledon', NOM='FORGET', ANNAISS='1965')
Tuple(NUJOUEUR='9', LIEUTOURNOI='Wimbledon', NOM='FORGET', ANNAISS='1965')
Tuple(NUJOUEUR='9', LIEUTOURNOI='Flushing Meadow', NOM='FORGET', ANNAISS='1965')
Tuple(NUJOUEUR='3', LIEUTOURNOI='Roland Garros', NOM='GRAF', ANNAISS='1969')
Tuple(NUJOUEUR='3', LIEUTOURNOI='Roland Garros', NOM='GRAF', ANNAISS='1969')
Tuple(NUJOUEUR='3', LIEUTOURNOI='Roland Garros', NOM='GRAF', ANNAISS='1969')
Tuple(NUJOUEUR='3', LIEUTOURNOI='Wimbledon', NOM='GRAF', ANNAISS='1969')
Tuple(NUJOUEUR='3', LIEUTOURNOI='Wimbledon', NOM='GRAF', ANNAISS='1969')
Tuple(NUJOUEUR='3', LIEUTOURNOI='Flushing Meadow', NOM='GRAF', ANNAISS='1969')
Tuple(NUJOUEUR='2', LIEUTOURNOI='Roland Garros', NOM='NAVRATILOVA', ANNAISS='1957')
Tuple(NUJOUEUR='2', LIEUTOURNOI='Roland Garros', NOM='NAVRATILOVA', ANNAISS='1957')
Tuple(NUJOUEUR='2', LIEUTOURNOI='Roland Garros', NOM='NAVRATILOVA', ANNAISS='1957')
Tuple(NUJOUEUR='2', LIEUTOURNOI='Wimbledon', NOM='NAVRATILOVA', ANNAISS='1957')
Tuple(NUJOUEUR='2', LIEUTOURNOI='Wimbledon', NOM='NAVRATILOVA', ANNAISS='1957')
Tuple(NUJOUEUR='2', LIEUTOURNOI='Wimbledon', NOM='NAVRATILOVA', ANNAISS='1957')
Tuple(NUJOUEUR='2', LIEUTOURNOI='Flushing Meadow', NOM='NAVRATILOVA', ANNAISS='1957')
Tuple(NUJOUEUR='1', LIEUTOURNOI='Wimbledon', NOM='MARTINEZ', ANNAISS='1972')
Tuple(NUJOUEUR='1', LIEUTOURNOI='Roland Garros', NOM='MARTINEZ', ANNAISS='1972')

#### 1 b) Sélection avec intervalle
select * from Joueur j where j.annaiss > 1960;

In [ ]:
for j in Joueur:
    if(int(j.ANNAISS) > 1971):
      print(j)

Tuple(NUJOUEUR='1', NOM='MARTINEZ', PRENOM='Conchita', ANNAISS='1972', NATIONALITE='Espagne')
Tuple(NUJOUEUR='5', NOM='PIERCE', PRENOM='Mary', ANNAISS='1975', NATIONALITE='France')
Tuple(NUJOUEUR='14', NOM='SAMPRAS', PRENOM='Pete', ANNAISS='1972', NATIONALITE='Etats-Unis')

#### 1 c) Sélection avec égalité

select * from Joueur j where j.nationalite='France'

In [ ]:
for j in Joueur:
    if(j.NATIONALITE == 'France'):
      print(j)

Tuple(NUJOUEUR='4', NOM='HALARD', PRENOM='Julie', ANNAISS='1970', NATIONALITE='France')
Tuple(NUJOUEUR='5', NOM='PIERCE', PRENOM='Mary', ANNAISS='1975', NATIONALITE='France')
Tuple(NUJOUEUR='8', NOM='LECONTE', PRENOM='Henri', ANNAISS='1963', NATIONALITE='France')
Tuple(NUJOUEUR='9', NOM='FORGET', PRENOM='Guy', ANNAISS='1965', NATIONALITE='France')
Tuple(NUJOUEUR='10', NOM='FLEURIAN', PRENOM='Jean-Philippe', ANNAISS='1965', NATIONALITE='France')

#### 1 d) Sélection avec prédicat composé
select * from Joueur j 
 				where j.annaiss >1960 and j.nationalite='France';

In [ ]:
for j in Joueur:
    if(j.NATIONALITE == 'France' and int(j.ANNAISS) > 1960):
        print(j)

Tuple(NUJOUEUR='4', NOM='HALARD', PRENOM='Julie', ANNAISS='1970', NATIONALITE='France')
Tuple(NUJOUEUR='5', NOM='PIERCE', PRENOM='Mary', ANNAISS='1975', NATIONALITE='France')
Tuple(NUJOUEUR='8', NOM='LECONTE', PRENOM='Henri', ANNAISS='1963', NATIONALITE='France')
Tuple(NUJOUEUR='9', NOM='FORGET', PRENOM='Guy', ANNAISS='1965', NATIONALITE='France')
Tuple(NUJOUEUR='10', NOM='FLEURIAN', PRENOM='Jean-Philippe', ANNAISS='1965', NATIONALITE='France')

#### 1 e) Projection
select nom, prenom from Joueur

In [ ]:
# schema du résultat de la requête
Tuple = collections.namedtuple("Tuple", "NOM, PRENOM")

for j in Joueur:
  print(Tuple(j.NOM, j.PRENOM))

Tuple(NOM='MARTINEZ', PRENOM='Conchita')
Tuple(NOM='NAVRATILOVA', PRENOM='Martina')
Tuple(NOM='GRAF', PRENOM='Steffi')
Tuple(NOM='HALARD', PRENOM='Julie')
Tuple(NOM='PIERCE', PRENOM='Mary')
Tuple(NOM='EDBERG', PRENOM='Stephan')
Tuple(NOM='LARSSON', PRENOM='Magnus')
Tuple(NOM='LECONTE', PRENOM='Henri')
Tuple(NOM='FORGET', PRENOM='Guy')
Tuple(NOM='FLEURIAN', PRENOM='Jean-Philippe')
Tuple(NOM='WILANDER', PRENOM='Mats')
Tuple(NOM='CONNORS', PRENOM='Jimmy')
Tuple(NOM='McENROE', PRENOM='John')
Tuple(NOM='SAMPRAS', PRENOM='Pete')

#### 1 f) Projection sans doubles

select distinct nationalite
from Joueur;

In [ ]:
# schema du résultat de la requête
Tuple = collections.namedtuple("Tuple", "NATIONALITE")

T={}
for j in Joueur:
  if(T.get(j.NATIONALITE) == None):
    T[j.NATIONALITE] = True  
    print(Tuple(j.NATIONALITE))

Tuple(NATIONALITE='Espagne')
Tuple(NATIONALITE='Etats-Unis')
Tuple(NATIONALITE='Allemagne')
Tuple(NATIONALITE='France')
Tuple(NATIONALITE='Suede')

#### 1 g) Tri avec order by

select annaiss, nom, prenom
from Joueur
where nationalite='France'
order by annaiss;

In [ ]:
from sortedcontainers import SortedList

# schema du résultat de la requête
Tuple = collections.namedtuple("Tuple", "ANNAISS, NOM, PRENOM")

resultatTrié = SortedList()
# Tri
for j in Joueur:
  if(j.NATIONALITE == 'France'):
    resultatTrié.add(Tuple(j.ANNAISS, j.NOM, j.PRENOM))

# Parcourir le résultat trié
for t in resultatTrié:
  print(t, "a")

Tuple(ANNAISS='1963', NOM='LECONTE', PRENOM='Henri') a
Tuple(ANNAISS='1965', NOM='FLEURIAN', PRENOM='Jean-Philippe') a
Tuple(ANNAISS='1965', NOM='FORGET', PRENOM='Guy') a
Tuple(ANNAISS='1970', NOM='HALARD', PRENOM='Julie') a
Tuple(ANNAISS='1975', NOM='PIERCE', PRENOM='Mary') a

#### 1 h) Jointure par hachage

select j.nom, g.annee
from Joueur j, Gain g
where j.nujoueur = g.nujoueur
and j.nationalite = 'Suede'
and g.lieutournoi = 'Roland Garros'

In [ ]:
# schema du résultat de la requête
Tuple = collections.namedtuple("Tuple", "NOM, ANNEE")

T={}

for j in Joueur:
    if(j.NATIONALITE == 'Suede'):
      T[j.NUJOUEUR] = j.NOM

for g in Gain: 
    if(g.LIEUTOURNOI == 'Roland Garros'):
      if(T.get(g.NUJOUEUR) != None):
        print(Tuple(T[g.NUJOUEUR], g.ANNEE))

Tuple(NOM='WILANDER', ANNEE='1990')
Tuple(NOM='WILANDER', ANNEE='1992')
Tuple(NOM='LARSSON', ANNEE='1992')
Tuple(NOM='EDBERG', ANNEE='1992')